<div class="city-card"
     itemprop="blogPosts"
     itemscope=""
     itemtype="http://schema.org/BlogPosting">
  <div class="city-background"  style="background-image: url({{ site.baseurl }}/assets/img/cards/cet.jpg)">
  </div>
  <a href="{{ site.baseurl }}/kerala/">
    <h1> Trivandrum hosts ICCCC 2020 </h1>
    <div class="description">
      <p> Trivandrum’s warmth, cosmopolitan character and geographic accessibility will ensure that the ICCC 2020 conference will be successful and memorable.</p>
    </div>
  </a>
</div>
